/* Importation de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Styles généraux */
body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

/* Section de Présentation */

/* Galerie de Projets */

/* Section de Contact */
